<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Transfer>
            <version>0.1.0</version>
        </Wage_Transfer>
    </modules>
    <frontend>
        <routers>
            <transfer>
                <use>standard</use>
                <args>
                    <module>Wage_Transfer</module>
                    <frontName>transfer</frontName>
                </args>
            </transfer>
        </routers>
    </frontend>
    <admin>
        <!--routers>
			<transfer>
				<use>admin</use>
				<args>
					<module>Wage_Transfer</module>
					<frontName>transfer</frontName>
				</args>
			</transfer>
        </routers-->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wage_transfer before="Mage_Adminhtml">Wage_Transfer_Adminhtml</wage_transfer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <transfer>
                <class>Wage_Transfer_Model</class>
            </transfer>
        </models>
        <resources>
            <transfer_setup>
                <setup>
                    <module>Wage_Transfer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </transfer_setup>
            <transfer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </transfer_write>
            <transfer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </transfer_read>
        </resources>
        <blocks>
            <transfer>
                <class>Wage_Transfer_Block</class>
            </transfer>
        </blocks>
        <helpers>
            <transfer>
                <class>Wage_Transfer_Helper</class>
            </transfer>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_button_transfer>
                        <class>transfer/observer</class>
                        <type>singleton</type>
                        <method>addButtonTransfer</method>
                    </add_button_transfer>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </global>
</config>